.gitignore

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.DS_Store
.AppleDouble
.LSOverride


.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

.idea/
*.sln.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


**/bin/
**/obj/

artifacts/
TestResults/
BenchmarkDotNet.Artifacts/
*.nupkg
*.snupkg

*.trx
*.coverage
*.coveragexml


# (Keep appsettings*.json tracked unless you decide otherwise)
**/wwwroot/lib/

**/node_modules/
**/.pnp/
**/.pnp.js
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

**/dist/
**/build/
**/.next/
**/.nuxt/
**/.output/
**/coverage/

**/.env
**/.env.*
!**/.env.example

*.log
*.tmp
*.temp
*.bak
*.swp
*.swo

TODO.md
~
docs/Постановка задачи.pdf
docs/PLAN.MD
